<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
        data-namespace-typo3-fluid="true"
        lang="en"
>
    <f:variable name="lll" value="LLL:EXT:l10nmgr/Resources/Private/Language/Modules/ConfigurationManager/locallang.xlf:"/>
    <h1>
        <f:translate key="{lll}general.title"/>
    </h1>
    <f:if condition="{configurations -> f:count()} == 0">
        <f:then>
            <div>
                <f:translate key="{lll}general.list.configuration.manager"/>
            </div>
        </f:then>
        <f:else>
            <div>
                <h2 class="uppercase">
                    <f:translate key="{lll}general.list.configuration.manager"/>
                </h2>
                <f:translate key="{lll}general.description.message"/>
            </div>
            <div>
                <h2 class="uppercase">
                    <f:translate key="{lll}general.list.configuration.title"/>
                </h2>
            </div>
            <div class="table-fit">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th nowrap="nowrap" class="col-title">
                                <f:translate key="{lll}general.list.headline.title.title"/>
                            </th>
                            <th nowrap="nowrap" class="col-path">
                                <f:translate key="{lll}general.list.headline.path.title"/>
                            </th>
                            <th nowrap="nowrap" class="col-depth">
                                <f:translate key="{lll}general.list.headline.depth.title"/>
                            </th>
                            <th class="col-tables">
                                <f:translate key="{lll}general.list.headline.tables.title"/>
                            </th>
                            <th class="col-exclude">
                                <f:translate key="{lll}general.list.headline.exclude.title"/>
                            </th>
                            <th class="col-include">
                                <f:translate key="{lll}general.list.headline.include.title"/>
                            </th>
                            <th class="col-incfcewithdefaultlanguage">
                                <f:translate key="{lll}general.list.headline.incfcewithdefaultlanguage.title"/>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <f:for each="{configurations}" as="configuration">
                            <tr class="db_list_normal">
                                <td>
                                    <a href="{configuration.link}">{configuration.title}</a>
                                </td>
                                <td>
                                    {configuration.path}
                                </td>
                                <td>
                                    {configuration.depth}
                                </td>
                                <td>
                                    {configuration.tablelist}
                                </td>
                                <td>
                                    {configuration.exclude}
                                </td>
                                <td>
                                    {configuration.include}
                                </td>
                                <td>
                                    {configuration.incfcewithdefaultlanguage}
                                </td>
                            </tr>
                        </f:for>
                    </tbody>
                </table>
            </div>
        </f:else>
    </f:if>
