<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
        data-namespace-typo3-fluid="true"
        lang="en"
>
<!-- Function Menu of module -->
<div class="form-group form-inline mb-2">
    <label for="{selectMenu.elementName}">{selectMenu.label}</label>
    <br>
    <select class="form-control clear-both" id="{selectMenu.elementName}" name="{selectMenu.elementName}" onchange="{selectMenu.onChange}">
        <f:for each="{selectMenu.options}" as="option" key="key">
            <option value="{option.value}" {f:if(condition: '{option.selected} == true', then: 'selected')}>{option.label}</option>
        </f:for>
    </select>
</div>
